/* line 1, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
input, button, select, textarea {
  cursor: pointer;
  outline: none;
  font-family: 'Open Sans';
}

/* line 6, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 300;
}

/* line 10, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
.close {
  font-size: 3.5rem;
  font-family: 'Montserrat';
  font-weight: 200;
  text-shadow: none;
}

/* line 16, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
#chat_body {
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.125);
}

/* line 21, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
#chat_body .float-left {
  filter: saturate(0.6);
  border-bottom-left-radius: 0px;
}

/* line 25, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
#chat_body .float-right {
  border-bottom-right-radius: 0px;
}

/* line 28, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
#chat_body p {
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
  border-radius: 100px;
}

/* line 33, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
#chat_body fieldset {
  border-top: 5px dotted rgba(0, 0, 0, 0.2);
}

/* line 36, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
#chat_body fieldset legend {
  width: auto;
  font-family: 'montserrat';
  padding: 1rem;
  text-align: center;
}

/* line 42, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
.card, .form-control {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.2);
}

/* line 46, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
body.bg-dark #chat_body p {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}

/* line 50, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
body.bg-dark .form-control {
  color: rgba(255, 255, 255, 0.7);
}

/* line 62, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
.form-control {
  background-color: inherit !important;
}

/* line 65, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
.lbluetheme p {
  background-color: rgba(30, 136, 229, 0.3) !important;
}

/* line 68, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
.dbluetheme p {
  background-color: rgba(0, 102, 153, 0.3) !important;
}

/* line 71, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
.tealtheme p {
  background-color: rgba(0, 128, 128, 0.3) !important;
}

/* line 74, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
.purpletheme p {
  background-color: rgba(111, 84, 153, 0.3) !important;
}

/* line 77, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
.lavendertheme p {
  background-color: rgba(179, 120, 211, 0.3) !important;
}

/* line 80, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
.lgreentheme p {
  background-color: rgba(76, 175, 64, 0.3) !important;
}

/* line 83, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
.orangetheme p {
  background-color: rgba(237, 114, 20, 0.3) !important;
}

/* line 86, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
.yellowtheme p {
  background-color: rgba(255, 193, 7, 0.3) !important;
}

/* line 89, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
.redtheme p {
  background-color: rgba(217, 83, 79, 0.3) !important;
}

/* line 92, /Users/yuvrajsharma/Desktop/GithubRepo/IdiChats/scss/index.scss */
body.bg-dark .close {
  color: #fff;
}

/*# sourceMappingURL=../index.map */