
/* theme classes */

.lbluetheme {
	background-color: #1e88e5 !important
}
.dbluetheme {
	background-color: #006699 !important
}
.tealtheme {
	background-color: #008080 !important
}
.purpletheme {
	background-color: #6f5499 !important
}
.lavendertheme {
	background-color: #b378d3 !important
}
.darktheme {
	background-color: #333333 !important
}
.gwhitetheme {
	background-color: #eceeef !important
}
.whitetheme {
	background-color: #f9f9f9 !important
}
.greytheme {
	background-color: #616967 !important
}
.lgreentheme {
	background-color: #4caf40 !important
}
.dgreentheme {
	background-color: #318401 !important
}
.orangetheme {
	background-color: #ed7214 !important
}
.yellowtheme {
	background-color: #f5d900 !important
}
.redtheme {
	background-color: #d9534f !important
}

/* font classes */

.productsans {
	font-family: 'Product Sans' !important;
	letter-spacing: 1px
}
.opensans {
	font-family: 'Open Sans' !important
}
.roboto {
	font-family: 'Roboto' !important;
	letter-spacing: .5px
}
.ubuntu {
	font-family: 'Ubuntu' !important;
	letter-spacing: .5px
}
.montserrat {
	font-family: 'Montserrat' !important;
	letter-spacing: 1px
}
.quicksand {
	font-family: 'Quicksand' !important;
	letter-spacing: .3px
}
.josefinsans {
	font-family: 'Josefin Sans' !important;
	letter-spacing: 1px
}
.ptsans {
	font-family: 'PT Sans' !important;
	letter-spacing: 1px
}
.sourcesans {
	font-family: 'Source Sans Pro' !important;
	letter-spacing: 1px
}

/* color classes */

.whitecolor {
	color: #ffffff !important
}
.gwhitecolor {
	color: #eceeef !important
}
.greycolor {
	color: #616967 !important
}
.darkcolor {
	color: #333333 !important
}
.blackcolor {
	color: #000000 !important
}

/* other css */

html {
	overflow: hidden
}
button {
	cursor: pointer;
}
div {
	transition: .4s ease-out color;
}
.mainnav {
	float: left;
	position: fixed;
	width: 28%;
	height: 100%;
	background-color: #fff;
	border-right: 1px solid rgba(0,0,0,0.1);
	overflow: auto
}
.mainchat {
	position: relative;
	width: 72%;
	float: right
}
.header {
	padding: 20px;
	background-color: #000;
	color: #fff;
	transition: .4s ease-out background-color;
}
.navheader {
	background-color: rgba(0,0,0,0.7)
}
.chathead {
	padding: 14px
}
.navbar-toggler {
	outline: none !important;
	margin-top: -8px;
}
.themebtn {
	border: 4px solid #fff;
	border-radius: 100%;
	padding: 10px;
	outline: none !important;
	transition: .4s ease-out
}
.themebtn:hover {
	box-shadow: 3px 4px 12px rgba(0,0,0,0.9);
	border-color: rgba(0,0,0,0.3)
}
.themebtn:active {
	transition: none;
	border-color: rgba(0,0,0,0.5)
}
.fontt {
	border-radius: 0px;
	padding: 8px;
	margin: 4px
}
.colorbtn {
	background-color: #000
}
.fonttactive {
	box-shadow: 0px 0px 0px 2px
}